h1{
    color:rgb(157, 255, 0);
}
h2{
    color: rgba(255, 136, 0,1);
}

p{
    background-color:rgba(255,0,0,0.25);
    border-left: 3px solid rgb(5,202,187);
    border-right: 3px dashed rgb(80,209,6);
    border-top: 3px solid rgb(209,6,70);
    border-bottom: 3px dashed rgb(59,73,255);
    border-radius: 10px;
    text-decoration:underline;
    font-style:italic;
    font-weight:bold;
    font-family:"Dokdo", "ZCOOL KuaiLe" , cursive;
    height:10em;
    width:100vw;
    font-size:2em;
    max-height:50em;
    max-width:25em;
    min-width:50px;
    min-height:50px;
}
*{
    margin:auto 3%;
    background-color:olive;
    text-align:center;
}