.fond-orange-clair{
    background-color: rgba(255, 114, 0,0.25);;
    border-left:8px dotted rgba(255, 114, 0,0.75);
}
.fond-bleu-clair{
    background-color:rgba(0, 169, 255,0.25);;
    border-right:8px dotted rgba(0, 169, 255,0.75);
}
#texte-noir-inversement{
    text-decoration:underline;
    border: 3px dotted white;
    color:white;
    background-color:black;
    font-size:70px;
}
#texte-noir-inversement:hover{
    color:black;
    background-color:white;
    border: 3px dashed black;
}
.gras{
    font-weight: bold;
}
.survol-italique:hover{
    font-weight: normal;
    font-style: italic;
}
.barre{
    text-decoration:line-through;
}
.grossis-survol:hover{
    font-size:3em;
}
.droite{
    text-align:right;
}
h1{
    color:aqua;
    text-align:center;
}
div{
    margin:25px 25%;
}
.plus-grand{
    font-size:2em;
}
.zelda{
    background-image: url("zelda.jpg");
}
.grand-div{
    background-color:rgba(73, 113, 175,0.75);
}
body{
    background-color:rgba(226, 13, 49,0.5);
}
.lettrine1{
    font-family:"Dokdo",Sans-serif;
    font-size:2em;
}
.lettrine2{
    font-family:'ZCOOL KuaiLe',Sans-serif;
    font-size:2em;
}
.milieu{
    text-align:center;
}